[Unit]
Description=Backend Server
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/Project/
Environment="PATH=/home/ubuntu/Project/.venv/bin"
EnvironmentFile=/home/ubuntu/Project/.env
ExecStart=/home/ubuntu/Project/.venv/bin/gunicorn -w 2 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target